body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #FFF9CA;
    font-family: comfortaa;
}

.game-container {
    position: relative;
}

canvas {
    border: 2px solid #333;
    background: #70c5ce;
}